<!DOCTYPE HTML>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>{{ page.title }}</title>
    <meta name="author" content="Raymond Edwards">
    <meta name="description" content="I just don't know.">
    <link href='https://fonts.googleapis.com/css?family=Libre+Baskerville:400,400italic,700|Righteous' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/css/skeleton.css">
</head>
<body>
    <div class="container">
        {% include header.html %}
        <div class="row">
            <div class="u-full-width">
                {{content}}
            </div>
        </div>   
    </div>
</body>
</html>
