<!DOCTYPE HTML>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ page.title }}</title>
    <meta name="author" content="Raymond Edwards">
    <meta name="description" content="what a mess">
    <link rel="stylesheet" href="{{ "/css/stylin.css" | relative_url }}">
    <style>
        span {
            display: inline-block;
        }
    </style>
</head>
<body>
    <h1><span style="transform: rotate(21deg);">w</span>elco<span style="transform: rotate(-14deg) translate(0em, .2em);">m</span>e <span style="transform: rotate(-5deg);">t</span>o m<span style="transform: rotate(20deg) translate(-.1em, -.2em);">y</span> webs<span style="transform: rotate(181deg);">i</span>t<span style="transform: rotate(9deg) translate(0em, .25em);">e</span><span style="transform: rotate(15deg) translate(0em, .3em);">,</span></h1>
    <p>excuse the mess, here are some links:</p>
    <ul>
        <li><a href="">my resumé</a></li>
        <li><a href="https://github.com/rayray">Github</a></li>
        <li><a href="/blog">seldom-updated blog</a></li>
    </ul>

    <p>My name is <b>Raymond Edwards</b> and I'm a professional software developer. I had a Geocities page once. It was
        much cooler and less readable than this.
    </p>
    <h3>Contact</h3>
    <ul>
        <li><a href="https://twitter.com/ray_at_work">Twitter</a> dms are open</li>
        <li><a href="https://www.linkedin.com/in/rkedwards/">LinkedIn</a> if you're into that sort of thing</li>
    </ul>
</body>
</html>